.left {
  background-color: #dcdcdc;
  height: 96.1vh;
  overflow-y: hidden;
}
.right {
  background-color: #dcdcdc;
  border-left: 1px solid #666666;
}
.income {
  width: 60%;
}
.expense {
  width: 60%;
}
.listItem {
  font-size: 70%;
}
.right {
  overflow-y: scroll;
  height: 96.1vh;
  justify-content: center;
}
.navbar {
  background-color: #696969;
}
.textarea {
  max-width: 70%;
}
.historyHead {
  color: #4a4a4a;
}
